{% extends "shared/base.html" %}

{% block title %}فراموشی کلمه عبور{% endblock %}


{% block content %}

{% include "shared/messages.html" %}
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>خانه</a></li>
				<li class="active">فراموشی کلمه عبور</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- forget password -->
	<div class="login">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">فراموشی کلمه عبور</h3>
			<div class="login-form-grids animated wow slideInUp" dir="rtl" data-wow-delay=".5s">
				<form method="post">
					{% csrf_token %}
					{% for field in form %}
						{{field.errors}}
						{{field}}
					{% endfor %}
                    <div class="check">
                        <label class="checkbox"><input type="checkbox" name="just_activate"><i> </i>از این قسمت فقط برای فعال سازی حساب خود استفاده می کنم و نیازی به تغییر کلمه عبور ندارم</label>
                    </div>
					<input type="submit" value="ثبت">
				</form>
			</div>
			<h4 class="animated wow slideInUp" data-wow-delay=".5s">عضو تازهِ سایت هستی؟</h4>
			<p class="animated wow slideInUp" data-wow-delay=".5s"><a href="{% url 'accounts:register' %}">اینجا ثبت نام کنید</a></p>
		</div>
	</div>
<!-- //forget password -->

{% endblock %}

