{% extends "shared/base.html" %}

{% block title %}ورود به سایت{% endblock %}


{% block content %}

<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="{% url 'home:index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>خانه</a></li>
				<li class="active">ورود</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- login -->
	<div class="login">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">فرم ورود</h3>
			<div class="login-form-grids animated wow slideInUp" dir="rtl" data-wow-delay=".5s">
				<form method="post">
					{% csrf_token %}
					{% for field in form %}
						{{field.errors}}
						{{field}}
					{% endfor %}
					<div class="forgot">
						<a href="{% url 'accounts:forgot_password' %}">فراموشی کلمه عبور؟</a>
					</div>
					<input type="submit" value="ورود">
				</form>
			</div>
			<h4 class="animated wow slideInUp" data-wow-delay=".5s">عضو تازهِ سایت هستی؟</h4>
			<p class="animated wow slideInUp" data-wow-delay=".5s"><a href="{% url 'accounts:register' %}">اینجا ثبت نام کنید</a></p>
		</div>
	</div>
<!-- //login -->

{% endblock %}

