{% extends "shared/base.html" %}

{% block title %}بازیابی کلمه عبور{% endblock %}


{% block content %}

{% include "shared/messages.html" %}
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>خانه</a></li>
				<li class="active">بازیابی کلمه عبور</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- login -->
	<div class="login">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">فرم بازیابی</h3>
			<div class="login-form-grids animated wow slideInUp" dir="rtl" data-wow-delay=".5s">
				<form method="post">
					{% csrf_token %}
					{% for field in form %}
						{{field.errors}}
						{{field}}
					{% endfor %}
					<input type="submit" value="تغییر کلمه عبور">
				</form>
			</div>
		</div>
	</div>
<!-- //login -->

{% endblock %}

