{% load static poll_extras %}

<!-- header -->
<div class="header">
    <div class="container">
        <div class="header-grid">
            <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                <ul>
                    {% if request.user.is_authenticated %}
                        <li>
                            <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>
                            <a href="{% url 'accounts:logout' %}">
                                خروج
                            </a>
                        </li>
                        {% if request.user.is_superuser %}
                            <li>
                                <i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
                                <a href="{% url 'admin:index' %}">
                                    پنل ادمین
                                </a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li>
                            <i class="glyphicon glyphicon-log-in" aria-hidden="true"></i>
                            <a href="{% url 'accounts:login' %}">ورود</a>
                        </li>
                        <li>
                            <i class="glyphicon glyphicon-book" aria-hidden="true"></i>
                        <a href="{% url 'accounts:register' %}">ثبت نام</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="logo-nav">
            <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
                <h1><a href="{% url 'home:index' %}">فروشگاه لوازم اداری</a></h1>
            </div>
            <div class="logo-nav-left1">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                            data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav">
                            <li {% if request.resolver_match.app_name == "home" %}class="active"{% endif %}>
                                <a href="{% url 'home:index' %}" class="act">خانه</a>
                            </li>
                            <!-- Mega Menu -->
                            <li {% if request.resolver_match.app_name == "products" %}class="active"{% endif %}>
                                <a href="{% url 'products:list' %}" class="act">
                                    محصولات
                                </a>
                            </li>
                            <li><a href="#">تماس با ما</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="logo-nav-right">
                <div class="search-box">
                    <div id="sb-search" class="sb-search" dir="rtl">
                        <form action="/products/">
                            <input class="sb-search-input" placeholder="دنبال چی می گردی? اینجا سرچش کن..." type="search"
                                id="search" name="search" value="{{request.GET.search}}">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search"> </span>
                        </form>
                    </div>
                </div>
                <!-- search-scripts -->
                <script src="{% static 'js/classie.js' %}"></script>
                <script src="{% static 'js/uisearch.js' %}"></script>
                <script>
                    new UISearch(document.getElementById('sb-search'));
                </script>
                <!-- //search-scripts -->
            </div>
            <div class="header-right">
                <div class="cart box_1">
                    <a href="{% url "orders:cart" %}">
                        <h3>
                            <div class="total" id="order-items-count">
                                {% if request.user.is_authenticated %}
                                    تعداد: {{ request.user.orders.last.items.count }}
                                {% else %}
                                    تعداد: {{ request.COOKIES.order|loads|length}}
                                {% endif %}
                            </div>
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                        </h3>
                    </a>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //header -->