{% for product in paginated_products.object_list %}
    <div class="col-sm-4 products-right-grids-bottom-grid">
        <div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
            <div class="new-collections-grid1-image">
                <a href="single.html" class="product-image">
                    <img src="{{product.main_image.url}}" alt="" class="img-responsive">
                </a>
                <div class="new-collections-grid1-image-pos products-right-grids-pos">
                    <a href="single.html">نمایش محصول</a>
                </div>
                <div class="new-collections-grid1-right products-right-grids-pos-right">
                    <div class="rating">
                        {% include "products/partials/rating.html" %}
                    </div>
                </div>
            </div>
            {% include "products/partials/product_information.html" %}
        </div>
    </div>
{% empty %}
    <h4 class="center">
        محصولی یافت نشد
    </h4>
{% endfor %}
<div class="clearfix"> </div>